.main{
    background: #f8fafc;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}
.header{
    background-color: white;
    border-bottom: 1px solid #dae6ff;
    padding: 15px 30px;
    font-weight: 500;
    font-size: 1.5rem;
}
.notes{
    padding: 15px 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
}
nav{
    display: flex;
    justify-content: center;
}